.fancy-card {
  cursor: pointer;
  border: 1px solid color-mix(in srgb, var(--mantine-color-accent-border-1) 40%, transparent);
  box-shadow: var(--mantine-shadow-xs);
  transition: all 150ms ease;
}

.fancy-card:hover {
  border-color: color-mix(in srgb, var(--mantine-color-accent-border-4) 40%, transparent);
  background-color: var(--mantine-color-accent-0);
  transform: translateY(-4%);
  box-shadow: var(--mantine-shadow-md);
}